*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared css  */


#inter-font{
     font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.btn{
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600; /*semi bold */
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0);
    color: white;
    background-color: #30B868;

}

.icon-btn{
    display: flex;
    align-items: center;
    gap:12px;

}
.water-btn{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;

}


.water-btn:hover{
    background-color: #30B868;
    border: 1px solid rgba(0, 0, 0, 0);
    
}
               /* Header css  */
/* nav css  */


nav{
    display: flex;
    justify-content: space-between;
    padding: 24px 120px ;
    align-items: center;

}

nav ul{
   display: flex;
   justify-content: space-between;
   gap: 32px;
   list-style: none;
   
}
nav ul li{
    
}

nav a{
    text-decoration: none;
    color: black;
}



.btn:hover{
    background-color: #2e9d5c;
   

}


 /* banner css  */

 #banner{
    background: url("../assets/hero-bg.png");
    width: 100%;
    height: 674px;
    padding: 115px 120px 180px 120px;
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
    text-align: center;
    
}
.banner-content-top{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    max-width: 229px;
    padding: 8px 12px;
    background-color: white;
    color: #30B868;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    border-radius:1000px ;

}
.banner-content-top p{
    color: #30B868;
    font-size: 16px;

}
.banner-content-top img{
    width: 16px;
    height: 16px;
}

.banner-content h1{
    color: white;
    font-weight: bold;
    font-size: 76px;
    margin-top: 16px;
    opacity: 0.9;
}
.colour-h1{
    color: #30B868;
}
.banner-p{
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-top: 16px;
}

.banner-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}


.water-on-hover:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}
