* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared css  */


#inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

.btn {
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    /*semi bold */
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0);
    color: white;
    background-color: #30B868;

}

.icon-btn {
    display: flex;
    align-items: center;
    gap: 12px;

}

.water-btn {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;

}


.water-btn:hover {
    background-color: #30B868;
    border: 1px solid rgba(0, 0, 0, 0);

}

/* Header css  */
/* nav css  */


nav {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;

}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    list-style: none;

}

nav ul li {}

nav a {
    text-decoration: none;
    color: black;
}



.btn:hover {
    background-color: #2e9d5c;
    cursor: pointer;


}


/* banner css  */

#banner {
    background: url("../assets/hero-bg.png");
    width: 100%;
    height: 674px;
    padding-bottom: 180px;
    padding-top: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

}

.banner-content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.banner-content-top {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    max-width: 229px;
    padding: 8px 12px;
    background-color: white;
    color: #30B868;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    border-radius: 1000px;

}

.banner-content-top p {
    color: #30B868;
    font-size: 16px;

}

.banner-content-top img {
    width: 16px;
    height: 16px;
}

.banner-content h1 {
    color: white;
    font-weight: bold;
    font-size: 76px;
    margin-top: 16px;
    opacity: 0.9;
}

.colour-h1 {
    color: #30B868;
}

.banner-p {
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin-top: 16px;
}

.banner-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}


.water-on-hover:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

/* Main css */


/* feature-section css */
.feature-section {
    width: 85%;
    margin: 76px auto auto auto;
    text-align: center;
}

/* .feature top side  */
.FS-top {
    margin-bottom: 44px;
}

.FS-top h1 {
    font-size: 48px;
    color: black;
    margin-bottom: 16px;
}

.FS-top p {
    color: #627382;
    line-height: 20px;
    font-size: 16px;
}

/* feature bottom section css  */


.FS-bottom-con {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.FS-card {
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    box-shadow: 0 0 8px 0 #07030318;
    height: 300px;
}

.FS-card-img-div {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 70px auto 16px auto;

}

.FS-card img {
    width: 32px;
    height: 32px;



}

.FS-card p {
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    z-index: -2;
}

.FS-card h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}


/* brain section css */

#brain {
    width: 100%;
    padding: 120px 0 120px 0;
    background-color: rgb(255, 255, 255);
    margin-top: -20px;


    position: relative;
    z-index: 4;
}

.brain-main {
    width: 85%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 100px;
}

.brain-content-section {
    padding-top: 102px;
    padding-bottom: 102px;

    
    text-align: left;
}

.brain-content-section h3 {
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}

.brain-content-section h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}


.brain-content-section ul {
    list-style: none;
}

.brain-p {
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 40px;
    width: 60%;
}

.brain-feature {
    display: flex;
    justify-content: start;
    gap: 6px;
    align-items: center;
    margin-bottom: 16px;
    list-style: none;
}

.brain-feature p {
    font-weight: 500;

    font-size: 16px;

}

/* early section  */

.early-btn-section {
    text-align: center;
    width: 85%;
    margin: 0 auto 120px auto;
    border-radius: 12px;
    padding: 80px 40px;
    background-color: #F7F6F2;
}

.early-btn-section h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}

.ebs-p p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;

}

.ebs-p {
    margin-bottom: 24px;
}

.early-btn-section button {
    margin-left: auto;
    margin-right: auto;
}

.ebs-footer {
    margin-left: auto;
    margin-right: auto;

}

.ebs-footer {
    margin-top: 16px;
}

.ebs-footer p {
    color: #627382;
    font-size: 16px;
}

.shadaw-btn {
    box-shadow: 0 10px 20px 0px rgb(0, 0, 0, 0.15);
}


/* footer css */

footer {
    background-color: #001931;
    width: 100%;
    padding: 120px 0 30px 0;
}

.footer-top {
    display: flex;
    width: 85%;
    margin: 0px auto 80px auto;
    justify-content: space-between;
}

.ft-left {
    width: 140px;
    height: 60px;
}
.ft-right{
    width: 220px;
}

.ft-right h6 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 28px;
    margin-bottom: 16px;
}

.social-icon {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    max-width: 92px;
}

.social-icon img {
    width: 20px;
    height: 20px;
}

.footer-bottom {
    text-align: center;

    line-height: 24px;
    width: 85%;
    margin: 0 auto 0 auto;
    color: white;
    border-top: 1px solid #e5e7eb1f;
}

.footer-bottom p {
    margin-top: 30px;
    margin-bottom: 0px;
}